@import url(~antd/dist/antd.css);
.layout {
  min-height: 100vh; }
  .layout-content {
    padding: 24px;
    min-height: 280px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column; }

.layout-header {
  color: #fff; }
