.bucket {
    margin-bottom: 12px;
    @include for-tablet-portrait-up {
        flex-grow: 1;
        width: 48%;
        margin: 1%;
    }
    @include for-tablet-landscape-up {
        margin-bottom: 0 !important;
        margin-right: 12px;
        flex: 0 0 300px;
    }
    @import "./_item.scss";
}